[submodule "seq2seq"]

	url = https://github.com/google/seq2seq.git
	path = seq2seq
[submodule "tacotron"]

	url = https://github.com/Kyubyong/tacotron.git
	path = tacotron
[submodule "tensor2tensor"]

	url = https://github.com/tensorflow/tensor2tensor.git
	path = tensor2tensor
[submodule "transformer"]

	url = https://github.com/Kyubyong/transformer.git
	path = transformer
[submodule "drcn"]

	url = https://github.com/ghif/drcn.git
	path = drcn
[submodule "decoupled-multimodal-learning"]

	url = https://github.com/Jakobovski/decoupled-multimodal-learning.git
	path = decoupled-multimodal-learning
[submodule "resnet-1k-layers"]

	url = https://github.com/KaimingHe/resnet-1k-layers.git
	path = resnet-1k-layers
[submodule "deep-residual-networks"]

	url = https://github.com/KaimingHe/deep-residual-networks.git
	path = deep-residual-networks
[submodule "overcoming-catastrophic"]

	url = https://github.com/ariseff/overcoming-catastrophic.git
	path = overcoming-catastrophic
[submodule "semisupervised_vae"]

	url = https://github.com/saemundsson/semisupervised_vae.git
	path = semisupervised_vae
[submodule "glas"]

	url = https://github.com/dojoteef/glas.git
	path = glas
[submodule "sact"]

	url = https://github.com/mfigurnov/sact.git
	path = sact
[submodule "sru"]

	url = https://github.com/taolei87/sru.git
	path = sru
[submodule "drn"]

	url = https://github.com/fyu/drn.git
	path = drn
[submodule "SSGAN-Tensorflow"]

	url = https://github.com/gitlimlab/SSGAN-Tensorflow.git
	path = SSGAN-Tensorflow
[submodule "tensorflow-wavenet"]

	url = https://github.com/ibab/tensorflow-wavenet.git
	path = tensorflow-wavenet
[submodule "variational-dropout-sparsifies-dnn"]

	url = https://github.com/ars-ashuha/variational-dropout-sparsifies-dnn.git
	path = variational-dropout-sparsifies-dnn
[submodule "sciblog"]

	url = https://github.com/miguelgfierro/sciblog.git
	path = sciblog
[submodule "pytorch-dnc"]

	url = https://github.com/ixaxaar/pytorch-dnc.git
	path = pytorch-dnc
[submodule "BayesianRecurrentNN"]

	url = https://github.com/mirceamironenco/BayesianRecurrentNN.git
	path = BayesianRecurrentNN
[submodule "progressive_growing_of_gans"]
	path = progressive_growing_of_gans
	url = https://github.com/tkarras/progressive_growing_of_gans.git
[submodule "notes/really-awesome-gan"]
	path = notes/really-awesome-gan
	url = https://github.com/nightrome/really-awesome-gan.git
[submodule "notes/ganhacks"]
	path = notes/ganhacks
	url = https://github.com/soumith/ganhacks.git
[submodule "segan"]
	path = segan
	url = https://github.com/santi-pdp/segan.git
[submodule "bayesgan"]
	path = bayesgan
	url = https://github.com/andrewgordonwilson/bayesgan.git
[submodule "pyro"]
	path = pyro
	url = https://github.com/uber/pyro.git
[submodule "decoupled-neural-interfaces"]
	path = decoupled-neural-interfaces
	url = https://github.com/nitarshan/decoupled-neural-interfaces.git
[submodule "synthetic_gradients_explained"]
	path = synthetic_gradients_explained
	url = https://github.com/llSourcell/synthetic_gradients_explained.git
[submodule "data-science-ipython-notebooks"]
	path = data-science-ipython-notebooks
	url = https://github.com/donnemartin/data-science-ipython-notebooks.git
[submodule "DeepAA"]
	path = DeepAA
	url = https://github.com/OsciiArt/DeepAA.git
[submodule "Fader-Networks-Tensorflow"]
	path = Fader-Networks-Tensorflow
	url = https://github.com/hardikbansal/Fader-Networks-Tensorflow.git
[submodule "boltzmann-machines"]
	path = boltzmann-machines
	url = https://github.com/monsta-hd/boltzmann-machines.git
[submodule "Traffic-Sign-Recognition-with-Deep-Learning-CNN"]
	path = Traffic-Sign-Recognition-with-Deep-Learning-CNN
	url = https://github.com/JamesLuoau/Traffic-Sign-Recognition-with-Deep-Learning-CNN.git
[submodule "decorrelated-adversarial-autoencoder"]
	path = decorrelated-adversarial-autoencoder
	url = https://github.com/patrickgadd/decorrelated-adversarial-autoencoder.git
[submodule "DLTK"]
	path = DLTK
	url = https://github.com/DLTK/DLTK.git
[submodule "datasets/dataset"]
	path = datasets/dataset
	url = https://github.com/openimages/dataset.git
[submodule "value-prediction-network"]
	path = value-prediction-network
	url = https://github.com/junhyukoh/value-prediction-network.git
[submodule "ntp"]
	path = ntp
	url = https://github.com/StanfordVL/ntp.git
[submodule "RL-Pseudocode"]
	path = RL-Pseudocode
	url = https://github.com/LinxiFan/RL-Pseudocode.git
[submodule "multiagent-competition"]
	path = multiagent-competition
	url = https://github.com/openai/multiagent-competition.git
[submodule "gcn"]
	path = gcn
	url = https://github.com/tkipf/gcn.git
[submodule "gae"]
	path = gae
	url = https://github.com/tkipf/gae.git
[submodule "UniversalStyleTransfer"]
	path = UniversalStyleTransfer
	url = https://github.com/Yijunmaverick/UniversalStyleTransfer.git
[submodule "ac-gan"]
	path = ac-gan
	url = https://github.com/buriburisuri/ac-gan.git
[submodule "Tacotron"]
	path = Tacotron
	url = https://github.com/barronalex/Tacotron.git
[submodule "tacotron_2/Tacotron"]
	path = tacotron_2/Tacotron
	url = https://github.com/barronalex/Tacotron.git
[submodule "cat-net"]
	path = cat-net
	url = https://github.com/utiasSTARS/cat-net.git
[submodule "lws"]
	path = lws
	url = https://github.com/Jonathan-LeRoux/lws.git
[submodule "indrnn"]
	path = indrnn
	url = https://github.com/batzner/indrnn.git
[submodule "DeepMoji"]
	path = DeepMoji
	url = https://github.com/bfelbo/DeepMoji.git
[submodule "transferlearning"]
	path = transferlearning
	url = https://github.com/jindongwang/transferlearning.git
[submodule "_datasets/nlp-datasets"]
	path = _datasets/nlp-datasets
	url = https://github.com/niderhoff/nlp-datasets.git
[submodule "LifelongVAE"]
	path = LifelongVAE
	url = https://github.com/jramapuram/LifelongVAE.git
[submodule "LSTM_Anomaly_Detector"]
	path = LSTM_Anomaly_Detector
	url = https://github.com/jramapuram/LSTM_Anomaly_Detector.git
[submodule "CVAE"]
	path = CVAE
	url = https://github.com/jramapuram/CVAE.git
[submodule "spotlight"]
	path = spotlight
	url = https://github.com/maciejkula/spotlight.git
[submodule "intrinsic-dimension"]
	path = intrinsic-dimension
	url = https://github.com/uber-research/intrinsic-dimension.git
[submodule "tensorflow-generative-model-collections"]
	path = tensorflow-generative-model-collections
	url = https://github.com/hwalsuklee/tensorflow-generative-model-collections.git
[submodule "deep-painterly-harmonization"]
	path = deep-painterly-harmonization
	url = https://github.com/luanfujun/deep-painterly-harmonization.git
[submodule "rlkit"]
	path = rlkit
	url = git@github.com:vitchyr/rlkit.git
